@model HairApp.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Profile/_LayoutProfile.cshtml";
}
<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Witaj!
            </div>
            <div class="card-body">
                <p>Twoje dane</p>
                @if (Session["FullName"] != null)
                {
                    <p>Imię i nazwisko: @Session["FullName"].ToString()</p>
                    <p>E-mail: @Session["Email"].ToString()</p>
                }
            </div>
            <div class="card">
                <div class="card-body">
                    @Html.ActionLink("Zmień hasło", "ChangePassword", "Profile")

                </div>
            </div>
        </div>
    </div>
</div>

