
@{
    ViewBag.Title = "CheckIngredients";
}

<h2>Sprawdź skład</h2>

Sprawdzanie czym jest dany składnik w kosmetyku, do jakiej grupy nalezy.
Liste składników jest dostępna w bazie danych. Ze względu na ich dużą ilość planowane
jest udostepnienie użytkownikom dodawania składników do bazy danych.
