
@{
    ViewBag.Title = "Hair_Quiz";
}

<h2>Ankieta włosowa</h2>

    Ankieta z pytaniami jednokrotnego wyboru, dzięki której dostajemy informacje na temat włosów użytkowniczki.
Na podstawie tych danych układany jest plan mycia.
