
@{
    ViewBag.Title = "Washing_Schedule";
}

<h2>Plan mycia włosów</h2>

Plan mycia włosów, oparty o własny algorytm.
Algorytm ma na podstawie otrzymanych danych w ankiecie włosowej układa plan tak
by włosom została dostarczona odpowiednia ilość potrzebnych składników budulcowych,
nawilżających i natłuszczających.